@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 34px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 38px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 48px;
    }
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
    padding-top: 80px;
    height: 100%;
}

.navbar{
    background-color: #fff;
    height: 80px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 0;
}

.navbar-brand > img{
    height: 75px;
    margin-top: -12.5px;
    margin-left: -15px;
}

.navbar-nav {
    padding-right: 15px;
}

.navbar-fixed-top .navbar-nav > .active > a{
    color: green;
}

.navbar-nav > li > a {
    color: #888;
    line-height: 80px;
    padding: 0 15px;
    font-size: 18px;

}

.navbar-nav > li > a:hover {
    color: green;
    background-color: #fff;

}

.navbar-nav > li > a > button {
    background-color: green;
    height: 50px;
    padding-bottom: 10px;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-nav > li > a > button:hover {
    background-color: #fff;
    color: green;
    border-color: green;
}

#banner {
    background-color: green;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    background-position: center;
    background-image: url("../Mockupwithgreen2.jpg");
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #888;
    width: 28px;
    height: 4px;
}

button.navbar-toggle.collapsed, button.navbar-toggle{
    margin-top: 22px;
}

button.navbar-toggle.collapsed:hover .icon-bar-1, button.navbar-toggle:hover .icon-bar-1{
    -ms-transform: translate(0,-2px); /* IE 9 */
    -webkit-transform: translate(0,-2px); /* Safari */
    transform: translate(0,-2px); /* Standard syntax */
}

button.navbar-toggle.collapsed:hover .icon-bar-3, button.navbar-toggle:hover .icon-bar-3{
    -ms-transform: translate(0,2px); /* IE 9 */
    -webkit-transform: translate(0,2px); /* Safari */
    transform: translate(0,2px); /* Standard syntax */
}

.filler {
    min-height: 200000px;
}

#banner {
    position: relative;
}
#banner p {
    color: #fff;
    text-align: center;
}
#banner h1 {
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px rgba(0,0,0,0.2);
    text-align: center;
}

.banner-content {
    margin-top: 375px;
}

#technologies {
    padding-top: 40px;
    margin: 0;
    width: 100%;
    height: 600px;
    text-align: center;
    color: #154b53;
    background-color: #fff;
}

#technologies .underline {
    width: 300px;
    border-top: 2px solid #154b53;
    display: block;
    margin: 0 auto;
}

#work {
    padding-top: 40px;
    text-align: center;
    background-color: #c2e8ee;
    color: #154b53;
    margin: 0;
    width: 100%;
}

#work .underline {
    width: 300px;
    border-top: 2px solid #154b53;
    display: block;
    margin: 0 auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    text-align: center;
    width: 400px;
    margin: 40px auto;
    padding: 12px 20px 20px 20px;
    background-color: #fff;
}
